<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee"
  xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
  version="2.5">

  <servlet>
    <servlet-name>get-txc</servlet-name>
    <servlet-class>org.mercycorps.translationcards.txcmaker.GetTxcServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>task-build-txc</servlet-name>
    <servlet-class>org.mercycorps.translationcards.txcmaker.TxcBuilderTaskHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>get-txc</servlet-name>
    <url-pattern>/get-txc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>task-build-txc</servlet-name>
    <url-pattern>/tasks/txc-build</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>oauth2callback</servlet-name>
    <servlet-class>org.mercycorps.translationcards.txcmaker.OAuth2Callback</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>oauth2callback</servlet-name>
    <url-pattern>/oauth2callback</url-pattern>
  </servlet-mapping>

  <security-constraint>
      <web-resource-collection>
          <web-resource-name>get-txc</web-resource-name>
          <url-pattern>/get-txc</url-pattern>
      </web-resource-collection>
      <auth-constraint>
          <role-name>*</role-name>
      </auth-constraint>
  </security-constraint>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>tasks</web-resource-name>
      <url-pattern>/tasks/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>
