.gradle
/local.properties
.DS_Store
build/
/captures

# Android Studio files.
.idea
*iml

# Audio
/app/src/main/assets/recordings/*.m4a

# Release Binaries
app/app-release.apk
*.apk

# Keystore
keystore.jks

# Appium
Appium/gradle/
Appium/gradlew
Appium/gradlew.bat
